{% extends "layout.html" %}

{% block content %}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" href="#">Dashboard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Map</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Orders</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Reports</a>
    </li>
</ul>

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p>Use this area to provide additional information.</p>

{% endblock %}
