asgiref==3.11.0
black==25.11.0
blinker==1.9.0
click==8.1.8
colorama==0.4.6
Django==4.2.27
et_xmlfile==2.0.0
Flask==3.1.2
gunicorn==21.2.0
importlib_metadata==8.7.1
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
mypy_extensions==1.1.0
numpy==2.0.2
openpyxl==3.1.3
packaging==25.0
pandas==2.1.1
pathspec==1.0.2
pip==22.0.4
platformdirs==4.4.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.0
pytokens==0.3.0
pytz==2025.2
setuptools==58.1.0
six==1.17.0
sqlparse==0.5.5
tomli==2.3.0
typing_extensions==4.15.0
tzdata==2025.3
Werkzeug==3.1.5
zipp==3.23.0
